extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") Create new message
  body
    //- table.table.table-striped 
    table(style="width:100%", border=1)
      tr 
        th Text 
        th User 
        th Added 
      
      each n in messages
        tr
          td= n.text
          td= n.user
          td= n.added
